--------------------------Part 1-------------------------

# #Importing Library

In [ ]:
import pandas as pd

Here pd is and object. next time i will use this pd

In [ ]:
pd.__version__

'2.2.2'

Checking the version

# #Pandas Series With python lists

In [ ]:
lst=[1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

Creating a series with pd fromt this list:

It has been converted into a column with indices

In [ ]:
series = pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
#empty series -> just provide an empty list
#By default it is float 64
empty = pd.Series([])
print(empty)

Series([], dtype: object)

I want my own indices

In [ ]:
a = pd.Series(['p','q','r','s','t'],index = [10,11,12,13,14])

print(a)

10    p
11    q
12    r
13    s
14    t
dtype: object

I want to give name of my Series:

In [ ]:
b = pd.Series(['p','q','r','s','t'],index = [10,11,12,13,14], name = 'alphabets')
print(b)

10    p
11    q
12    r
13    s
14    t
Name: alphabets, dtype: object

Creating Sereis with scaler values

In [ ]:
scaler_series = pd.Series(0.5)
print(scaler_series)

0    0.5
dtype: float64

I can increase the Quantity of scalar values . Just provide the index list

In [ ]:
scaler_series = pd.Series(0.5 , index = [1,2,3])
print(scaler_series)

1    0.5
2    0.5
3    0.5
dtype: float64

#  #Pandas Series with Python Dictionary

here the keys will be the index and the vlaues will be element of column

In [ ]:
dict_series = pd.Series( {'p':1,'q':2,'r':3,'s':4,'t':5})
print(dict_series)

p    1
q    2
r    3
s    4
t    5
dtype: int64

printing the value at positin 0

In [19]:
print(dict_series[0])

1

/tmp/ipython-input-1564464665.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(dict_series[0])

printing first 3 ( zero to two)

In [21]:
print(dict_series[0:3])

p    1
q    2
r    3
dtype: int64

In [22]:
print(max(dict_series))

5

Combining dictionary and list
The list values can also be considered as column values

In [23]:
dict_series = pd.Series( {'p':[1,5,6],'q':[2,6,7],'r':[3,9,0],'s':[4,4,5],'t':[5,1,2]})
print(dict_series)

p    [1, 5, 6]
q    [2, 6, 7]
r    [3, 9, 0]
s    [4, 4, 5]
t    [5, 1, 2]
dtype: object